body {
    background: white;
    box-sizing: border-box;
    margin: 0;
}

.heroContainer {
    width: 100%;
    background-image: url("https://i.picsum.photos/id/665/1600/400.jpg?hmac=_bqybN6OSwmLs5ZvnuUz2GMWU5ZnLaQCAXc5CHsmGYs");
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding: 1rem;
}

.heroTitle {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.heroText {
    margin: 0;
    padding-top: 1rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.bodySection {
    width: 100%;
    display: flex;
    justify-content: center;
}

.formContainer {
    width: 40%;
    color: white;
    box-sizing: border-box;
}

.registerForm {
    margin: 0;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.input {
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    outline: none;
    margin-top: 0.5rem;
    width: 270px;
}

.inputError {
    border: 1px solid red;
    border-radius: 0.5rem;
    padding: 0.5rem;
    outline: none;
    margin-top: 0.5rem;
    width: 270px;
}

.input:focus {
    border: 1px solid blue;
}

.checkbox {
    margin-right: 1rem;
    padding: 1rem;
}

.inputContainer {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    height: 60px;
}

.inputGroup {
    width: 100%;
    display: flex;
}

.checkboxContainer {
    margin: 1rem;
    display: flex;
    align-items: center;
}

.submitContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button {
    width: 20%;
    padding: 0.5rem;
    background-color: green;
}

.errorText {
    color: red;
    margin: 0;
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

.passwordButton {
    color: blue;
    text-decoration: underline;
    margin: 0;
    margin-top: 0.9rem;
    margin-left: 1rem;
    font-size: 0.8rem;
    cursor: pointer;
    text-align: center;
}

.input-with-icon {
    position: relative;
    height: 3.2rem;
    box-sizing: border-box;
    cursor: pointer;
}

.form-control {
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    outline: none;
    margin-top: 0.5rem;
    width: calc(270px - 3.15rem);
}

.input-with-icon .form-control {
    padding-right: 3.65rem;
}

.input-with-icon .icon {
    position: absolute;
    /* These are set relative to the height of the input box to bound the box neatly inside. This is aesthetic to me but you may change the dimensions of course. */
    right: 0.3rem;
    top: 0.3rem;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 0.3rem;

    /* content in the icon div is centered, without bootstrap or font-awesome you may wish to add your own text in the span */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
