body {
    background: white;
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #444444;
}

.heroContainer {
    width: 100%;
    background-image: url("https://i.picsum.photos/id/665/1600/400.jpg?hmac=_bqybN6OSwmLs5ZvnuUz2GMWU5ZnLaQCAXc5CHsmGYs");
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding: 1rem;
}

.heroTitle {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.heroText {
    margin: 0;
    padding-top: 1rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.bodySection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContainer {
    color: white;
    box-sizing: border-box;
}

.registerForm {
    margin: 0;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.input {
    border: 1px solid #333333;
    border-radius: 0.5rem;
    padding: 0.5rem;
    outline: none;
    margin-top: 0.5rem;
    width: 200px;
}

.inputError {
    border: 1px solid #ff9494;
    border-radius: 0.5rem;
    padding: 0.5rem;
    outline: none;
    margin-top: 0.5rem;
    width: 200px;
}

.input:focus {
    border: 1px solid #8cbed6;
}

.checkbox {
    margin-right: 1rem;
    padding: 1rem;
}

.inputContainer {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    height: 60px;
}

.inputGroup {
    width: 100%;
    display: flex;
    justify-content: center;
}

.checkboxContainer {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    width: 470px;
}

.submitContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button {
    padding: 0.8rem 0;
    margin: 1rem 0;
    border-radius: 0.5rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background: #00b159;
    color: white;
    cursor: pointer;
    width: 200px;
}

.button:hover:focus {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
}

.button:active {
    background: #88d8b0;
}

.button:disabled {
    background: #defbe6;
    cursor: not-allowed;
}

.errorText {
    color: #ff9494;
    margin: 0;
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

.passwordButton {
    color: blue;
    text-decoration: underline;
    margin: 0;
    margin-top: 0.9rem;
    margin-left: 1rem;
    font-size: 0.8rem;
    cursor: pointer;
    text-align: center;
}

.input-with-icon {
    position: relative;
    height: 3.2rem;
    box-sizing: border-box;
    cursor: pointer;
}

.form-control:focus {
    border: 1px solid #8cbed6;
}

.form-control {
    border: 1px solid #333333;
    border-radius: 0.5rem;
    padding: 0.5rem;
    outline: none;
    margin-top: 0.5rem;
    width: calc(200px - 3.15rem);
}

.input-with-icon .form-control {
    padding-right: 3.65rem;
}

.notificationContainer {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 1rem;
    margin: 2rem 0;
    width: 470px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.notificationStandard {
    background: white;
}

.notificationGreen {
    background: #defbe6;
}

.notificationRed {
    background: #ff9494;
}

.notificationTitle {
    margin: 0;
    font-size: 1.2rem;
}

.notificationList {
    padding: 0;
    list-style: none;
    margin: 0;
}

.notificationListItem {
    margin: 0.7rem;
}

.notificationListItem:first-of-type {
    margin-top: 1rem;
}

.notificationListItem:last-of-type {
    margin-bottom: 0;
}

.input-with-icon .icon {
    position: absolute;
    /* These are set relative to the height of the input box to bound the box neatly inside. This is aesthetic to me but you may change the dimensions of course. */
    right: 0.3rem;
    top: 0.3rem;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 0.3rem;

    /* content in the icon div is centered, without bootstrap or font-awesome you may wish to add your own text in the span */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

@media screen and (max-width: 480px) {
    .inputGroup {
        flex-direction: column;
        align-items: center;
    }

    .input {
        width: 270px;
    }
    .inputError {
        width: 270px;
    }

    .form-control {
        width: calc(270px - 3.15rem);
    }

    .button {
        width: 200px;
    }

    .checkboxContainer {
        width: 270px;
    }

    .notificationContainer {
        width: 90%;
    }
}
